
.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav content aside"
        "footer footer footer";
    grid-template-columns: [start] 1fr [middle] 3fr [end] 1fr;

    /* grid-gap:10px; */
    /* padding: 10px; */
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
    grid-template-columns: auto;
}

.content {
    grid-area: content;
    background-color: #e1e2e1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.aside {
    grid-area: aside;
    background-color: #0d6997;
}

.footer {
    grid-area: footer;
    background-color: #8ca1a5;
}

.item {
    background-color: #8ca1a5;
    /* padding: 20px; */
    text-align: center;
    justify-self: center; /* Center item horizontally */
    align-self: center;   /* Center item vertically */
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: [start] 1fr [middle] 3fr [end] 1fr;
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: [start] 1fr [middle] 4fr [end] 1fr;
    }
}

#wrapi
{
    background-color: #2C3E50;
    padding-left: .5vw;
    overflow-y: scroll;

}

.sidebar
{
    display: grid;
    grid-template-columns: 1fr;
}

.sidebar a{
    color: cornsilk;
    font-size: 150%;
    
}